@charset "utf-8";

*{
    box-sizing:border-box;
}

body {
    margin:0px;
}

h2{
    margin-top:0;
    padding-bottom:5px;
    background-color: rgba(0,0,0,.03);
}

.nav-bar > h3 {
    background-color: #9f102c;
    padding:10px;
    color:white;
}

.row {
    margin-left:50px;
}

.chart {
    float:left;
    margin:5px;
    padding: 5px;
    border: 2px solid rgba(0,0,0,.1);
    width: 81.5%;
    overflow-x:auto;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  margin:5px;
  padding: 5px;
  border: 2px solid rgba(0,0,0,.1);
  border-round: 5px;
}


/* Right column */
.column.side {
    border: 2px solid rgba(0,0,0,.1);
    border-round: 5px;
    width: 30%;
}

/* Left column */
.column.main {
    border: 2px solid rgba(0,0,0,.1);
    border-round: 5px;
    width: 50%;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.main {
    width: 100%;
  }

  .row{
    margin-left:10px;
  }

  #user-profile {
    width:100%;
  }
}

.users{
    display:inline-block;
}

.users p{
    text-align:center;
    margin-top:0px;
    font-size: 0.6em;
}

.user-profile{
    float:left;
    width:30%;
    border: 2px solid #9f102c;
    border-radius: 3px;
    margin:2px;
    overflow: hidden;
    word-wrap: break-word;
    text-align:center;
    padding:5px;
}

.user-profile > img{
    max-width:150px;
    width:100%;
    height: auto;
}


@media screen and (max-width: 600px) {
  .user-profile {
    width:48%;
  }

  .chart{
    width:90%;
  }


}

@media screen and (max-width: 294px) {
  .user-profile {
    width:98%;
  }

  .chart{
    width:98%;
  }


}

table{
    width:100%;
    padding:5px;
}

table, tr, td {
    text-align:center;
    border-collapse: collapse;
}

tr, td{
    border-bottom: 1px solid #000000;
    padding:5px;
}

tr#table-title{
    background-color: #9f102c;
    color: #ffffff;
}

#container {
  margin-bottom:20px;
  height: 8px;
}


